{% extends 'base.html' %}

{% block content %}
  <h1>Корзина</h1>

  <table>
    <thead>
      <tr>
        <th>Наименование товара</th>
        <th>Количество</th>
        <th>Цена за единицу</th>
        <th>Общая стоимость</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart_items %}
      <tr>
        <td>{{ item.product.name }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.product.price }}</td>
        <td>{{ item.total }}</td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3">Итого:</td>
        <td>{{ cart.total }}</td>
      </tr>
    </tfoot>
  </table>

  <a href="{% url 'checkout' %}">Оформить заказ</a>
{% endblock %}